.blog-image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.blog-image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.blog-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/resim2.png');
    background-size: cover;
    filter: blur(1px);
    z-index: 0;
}

.blogImageText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ortala */
    color: white;
    font-size: 33px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.blogImageText2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ortala */
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}